<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Create Lead</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a routerLink="/leads">Leads</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Create
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="app-content">
    <div class="container-fluid">

        <div class="card card-primary card-outline mb-4">
            <form (ngSubmit)="onSubmit()" [formGroup]="newLeadForm">
                <div class="card-body">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>First Name </mat-label>
                                    <input matInput type="text" placeholder="John" formControlName="firstName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>Last Name </mat-label>
                                    <input matInput type="text" placeholder="Smith" formControlName="lastName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>Email </mat-label>
                                    <input matInput type="email" placeholder="john.smith@gmail.com"
                                        formControlName="email">
                                    <mat-icon matSuffix><i class="bi bi-envelope-at-fill"></i></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>Phone Number </mat-label>
                                    <input matInput type="tel" placeholder="(415) 555‑0132" formControlName="phone">
                                    <mat-icon matSuffix><i class="bi bi-telephone-fill"></i></mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>Company Name </mat-label>
                                    <input matInput type="text" placeholder="ACME Inc." formControlName="companyName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput type="textarea" formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="card-footer"> <button type="submit" class="btn btn-primary">Submit</button> </div>
            </form>

        </div>
    </div>
</div>