@use "@angular/material" as mat;

@include mat.core();

$bodymetrica-theme: mat.define-theme(
    (color: (theme-type: light, primary: mat.$azure-palette))
);


:root{
    @include mat.all-component-themes($bodymetrica-theme);
    --mat-dialog-container-min-width: 0;
}

.mat-mdc-form-field {
    --mdc-filled-text-field-container-color: whitesmoke;
}

.full-width {
    width: 100%;
}