<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme=""> <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
        <a routerLink="/" class="brand-link">
            <img src="trackmyclients.png" alt="TrackMyClients" class="brand-image  ">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item"> <a routerLink="/leads" class="nav-link" [routerLinkActive]="['active']"> <i
                            class="nav-icon bi bi-palette"></i>
                        <p>Leads</p>
                    </a> </li>

                <!-- <li class="nav-item with-children"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Widgets
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"> <a href="./widgets/small-box.html" class="nav-link"> <i
                                    class="nav-icon bi bi-circle"></i>
                                <p>Small Box</p>
                            </a> </li>
                        <li class="nav-item"> <a href="./widgets/info-box.html" class="nav-link"> <i
                                    class="nav-icon bi bi-circle"></i>
                                <p>info Box</p>
                            </a> </li>
                        <li class="nav-item"> <a href="./widgets/cards.html" class="nav-link"> <i
                                    class="nav-icon bi bi-circle"></i>
                                <p>Cards</p>
                            </a> </li>
                    </ul>
                </li> -->

                
            </ul>
        </nav>
    </div>
</aside>